.title-head {
    background-color: rgb(129, 88, 204);
    color: white;
}

.footer {
    padding-top: 4%;
    background-color: rgb(200, 173, 231);
}

.main-content {
    margin-left: 10%;
    margin-right: 10%;

    @media (max-width: 526px) {
        margin-left: 2%;
        margin-right: 2%;
    }

    padding-top: 2%;
    padding-bottom: 2%;
}

.social-media {
    @media (max-width: 526px) {
        margin-left: 25%
    }
}
